body{
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 30px;

}
h2{
  font-family: 'Indie Flower', cursive;
  font-size: 200px;
  text-align: center;
  font-weight: bold;
  color: orange;
  margin-top: -20vh;
}

h3{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: black;
  text-align: right;
  padding: 40px;
}
.flowerbox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -200px;

}
.purpleflower{
  /*margin-left: 5vw;*/
  height: 35vh;
  position: fixed;
  bottom: -50px;
  -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center bottom;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:bottom;
}
.blueflower{
  /*margin-left: 23vw;*/
  height: 35vh;
  position: fixed;
  bottom: -50px;
  -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center bottom;
    -webkit-animation: swing 3s infinite ease-in-out;
    -webkit-transform-origin:bottom;
}
.redflower{
  /*margin-left: 42vw;*/
  height: 35vh;
  position: fixed;
  bottom: -50px;
  -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center bottom;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:bottom;
}
.sunflower{
  /*margin-left: 60vw;*/
  height: 35vh;
  position: fixed;
  bottom: -50px;
  -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center bottom;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:bottom;
}




#blue{
}
#red{
}
#orange{
}
#purple{
}
.bee{
}
.flower{
}
.redbee{
  height: 25vh;
  animation: fly 5s infinite;
  position: absolute;
  margin-left: 4vw;
}

.bluebee{
  height: 25vh;
  animation: fly 5s infinite;
  position: absolute;
  margin-left: 29vw;
}

.orangebee{
  height: 25vh;
  animation: fly 5s infinite;
  position: absolute;
  margin-left: 57vw;
}

.purplebee{
  height: 25vh;
  animation: fly 5s infinite;
  position: absolute;
  margin-left: 86vw;
}


.bigsun{
  height: 80vh;
  position: fixed;
  bottom: -10px;
  margin-left: 200vw;
  -webkit-animation:sway 3s infinite ease-in-out;
  -webkit-transform-origin: bottom;
}
.bigbee{
  margin-left: 60vw;
  height: 35vh;
  position: absolute;
  margin-top: 10vh;
  -webkit-animation:bughover 6s infinite ease-in-out;
}
.bigbee2{

  height: 35vh;
}


#bee{

}

#play{
  margin-left: 44vw;
  margin-right: 40vw;
  height: 5vh;
  width: 12vw;
  border-radius: 10px;
  background-color: #F26522;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  position: fixed;
  bottom: 100px;
  cursor: pointer;
}
#start{
  margin-left: 44vw;
  margin-right: 40vw;
  margin-bottom: 30vh;
  height: 5vh;
  width: 12vw;
  border-radius: 10px;
  background-color: #F26522;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  position: fixed;
  cursor: pointer;
}

#playagain{
  margin-left: 44vw;
  margin-right: 40vw;
  height: 5vh;
  width: 12vw;
  border-radius: 10px;
  background-color: #F26522;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  position: fixed;
  bottom: 500px;
  cursor: pointer;
}

@keyframes fly {
    0%{
      top: 0px;
    }
    25%{
      top: 200px;
    }
    50%{
      top: 300px;
    }
    75%{
      top: 200px;
    }
    100%{
      top: 0px;
    }
  }

  @-webkit-keyframes swing{
      0%{-webkit-transform:rotate(-3deg)}
      50%{-webkit-transform:rotate(3deg)}
      100%{-webkit-transform:rotate(-3deg)}
    }
    @-webkit-keyframes sway{
        0%{-webkit-transform:rotate(0deg)}
        50%{-webkit-transform:rotate(3deg)}
        100%{-webkit-transform:rotate(0deg)}
      }
      @keyframes bughover {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
